!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
	%head
		%meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
		/ Comment in layout
		= stylesheet_link_tag "site.css"
		= stylesheet_link_tag "../javascripts/fb/jquery.fancybox-1.3.1.css"
		= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
		= javascript_include_tag 'jquery.scrollTo-min.js'
		= javascript_include_tag 'jquery.tools.min.js'
		= javascript_include_tag 'jquery.localscroll-1.2.7-min.js'
		= javascript_include_tag 'fb/jquery.fancybox-1.3.1.pack.js'
		= javascript_include_tag 'site.js'
		= yield_content :head

	%body
		#nav
			%ul
				%li=link_to "Projects", "#"
				%li +
				%li=link_to "About", "#"
				%li +
				%li=link_to "Contact", "#"

		#header
			%h1 Todd Zusman,
			%h2 Web Application Developer

		#about
			.wrapper
				.pic
					%img{:src=>'/images/todd.jpg',:alt=>'Todd Zusman, Web Application Developer',:width=>136}
				#main
					%h3
						I'm pretty damn awesome or whatever.
					%p
						I'm a recent graduate of the University of Michigan's College of Engineering. I have been developing web applications for over 8 years. Through my various experiences in web technologies, I have learned to build web applications from the ground up. I have a solid understanding of everything it takes to build a great app, from server administration to user experience. I'm currently based in Boulder, CO where I enjoy snowboarding and hiking.
					%p
						People come up with a great idea and ask themselves, &quot;How do I make this happen?&quot; The answer? Contact me. I take ideas and turn them into useful and engaging web applications. I come fully-packed with all the skills &amp; experience needed to get the job done. No one wants to be stuck thinking &quot;that was my idea&hellip;&quot;
				#skills
					%h4 Technologies
					%ul
						%li PHP
						%li MySQL
						%li Javascript
						%li XML
						%li Nginx &amp; Apache
						%li
							HTML &amp; CSS
							%span (HAML/SASS)
					%h4 Skills
					%ul
						%li Database Design
						%li Hosting &amp; Scalability
						%li Security Hardening
						%li Server Administration
						%li
							Analytics
							%span (Custom &amp; 3<sup>rd</sup> Party)
						%li
							Frameworks
							%span (jQuery, CakePHP, etc)

		#projects
			%h1 Recent Projects
			%ul
				%li=link_to "&laquo; Prev"
				%li.bull=link_to "&bull;", "#", :class=>'curr'
				%li.bull=link_to "&bull;", "#" 
				%li.bull=link_to "&bull;", "#"
				%li=link_to " Next &raquo;"
			.wrapper
				.previews
					.preview
						%img{:src=>'TFLN.png',:alt=>'TextsFromLastNight.com'}
					.about
						%h4 Texts From Last Night
						%p I built the platform which is supportng TFLN's exploading popularity. Scalability was crucial, as the system serves 5+ million web and mobile requests per day. I wore many hats building the platform, from server admin to front-end developer. Designed and built the API which TFLN's iPhone, iPad, and Android apps use.
						.see
							=link_to "Visit Site &rarr;", "#"

		#contact
			%h1 Contact Me
			.work
				%h4 Let's work together
				%p Because of the nature of the projects I work on, I am very selective about my clients. Developing a web application is an intense and lengthy process. To achieve a fantastic result, the client must be willing to do their homework in order to clearly express their vision. Even the simplest projects require hours of wireframing and strategy to determine how the application will work. This entire process is highly collaborative, because no one knows better what you are looking for in a product than you. If you are interested in learning more about my process, <a href="#">contact me</a>, I'd be happy to explain further.
			%form{:action=>'send.php',:method=>'post'}
				%p
					%input{:type=>'text',:name=>'name'}
				%p
					%input{:type=>'text',:name=>'email'}
				%p
					%textarea{:rows=>10,:cols=>50,:name=>'about'}
				.submit
					%input{:type=>'submit',:value=>'Send'}

